footer {
    background-color: grey;
}

.hero {

    background: url(../img/cerveza-artesanal_3000x.webp) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color: white;
}

h1,
h2 {
    font-family: 'Alfa Slab One', cursive;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;

}

.lista-novedades li {
    margin: 4px 0;
}

.lista-novedades li a {
    background-color: #fff;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
    transition: all .2s ease-in-out;
    display: block;
}

.lista-novedades li a:hover {
    color: gold;
    background-color: #fff;
}

.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;

}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}